

.cart_items{
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 20px;
}
.cart_head{
    border-bottom: 1pt solid lightgray;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.cart_head h4{
    font-size: 25px;
    font-weight: 500;
}

.product_details{
    display: flex;
    justify-content: space-between;
}
.cart_product{
    display: flex;
    flex-direction: row
}

.detail{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.detail h4{
    font-size: 18px;
    width: 80%;
}
.select_quntity{
    max-width: 9%;
    border-radius: 5px;
    height: 30px;
}


.cart_price{
    text-align: right;
    width: 20%
}
.cart_price h4{
    font-size: bold;
    font-weight: 500;
    
}

.cart_bottom{
    margin-bottom: 20px;
    text-align: right
}
.cart_bottom h4{
    font-size: 19px;
    font-weight: 400;
}
.total_price{
    font-size: 20px;
    font-weight: 500;
}
