
.navber{
  color: white;
}
.logo{
  display: flex;
  align-items: center
}


.logo_img{
  width: 120px;
  height:40px;
  object-fit: cover;
  cursor: pointer;
  padding: 5px;
}
.logo_img:hover{
  border: 1pt solid white;
  border-radius: 4px;
}

.locationWarpper{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;


}

.locationWarpper:hover{
  border: 1pt solid white;
  border-radius: 4px;
}

.texts{
  display: flex;
  flex-direction: column;

}

.text{
  font-size: 12px;
  font-weight: 500;
}

.desc{
  font-size: 18px;
  font-weight: 600;
}

.item:nth-child(2){
  flex:3;
  height: 40px
}

.search_bar{
  height: 38px;
  display: flex;
  align-items: center;
  border:1pt solid;
  border-radius: 5px
}

.search_select{
  width: 60px;
  height: 39px;
  border: none
}
.search_select:focus{
  outline: none
}

.input_search{
  width: 85%;
  height: 39px;

}
.input_search:focus{
  outline: none
}

.search_icon{
    width: 6%;
    height: 35px;
    padding: 15px 5px 5px 10px
}

.item:last-child(){
  background-color: red;
  flex: 3
}